body {
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;

}

.header-img {
    margin-bottom: 30px;
    padding-bottom: 50px;
    width: 650px;
    height: 600px;
    background-image: url(images/shapes/Group\ 8449.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;


}

.header-img img {
    margin-bottom: 30px;
    padding-bottom: 50px;
    width: 500px;
    height: 450px;
    position: absolute;

}

#Order-btn {
    background-color: orange;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
    margin-left: 40px;

}

span {
    color: orange;
}

.headline {
    margin-left: 40px;
    margin-top: 60px;
    width: 550px;

}

.headline h1 {
    font-size: 60px;
    color: rgba(62, 67, 70, 0.877);
}

.headline p {
    font-size: 25px;
    color: rgba(62, 67, 70, 0.877);
}

.section-1 {
    display: flex;
    margin-top: 30px;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    padding-top: 10px;
}

.lady-person img {
    width: 280px;
    height: 450px;
    margin-left: 100px;
    padding: 10px 20px 30px;
}

.about {
    width: 550px;
    height: 400px;
    color: lightslategray;
    padding-left: 150px;
    text-align: justify;
}

.about p {

    font-size: 25px;
}

.sec-2>div {

    margin-left: 30%;
    text-align: center;
    margin-right: 30%;
    font-size: x-large;
    color: rgb(57, 59, 61);
    width: 650px;

}

.sec-3 {
    margin: 10px 20px;
}

.card img {
    width: 550px;
    height: 300px;
    border: solid none;
    border-radius: 20px;
    padding: 40px 30px 40px;
    background-color: aliceblue;

}